<div
(click)="clickAction(action.id)"
class="app-card app-card--select"
>
<div class="app-card__content__alt">
  <div class="flex items-center">
    <div class="mr-3">
      <youpez-ibm-icon
        iconName="folder"
        iconSize="32"
      ></youpez-ibm-icon>
    </div>
    <div>
      <div class="app-expressive-heading-01">
        {{ action.name }}
      </div>
      <div>
        <span class="app-label-01 mr-2"
          >{{ action.name }} files</span
        >
        <span class="app-label-01">{{ action.name }}</span>
      </div>
    </div>
  </div>
</div>
</div>
</div>
