<div class="app-content app-content--default sticky top-0">
  <div class="app-card app-card--m-b mb-4">
    <div class="app-card__content">
      <div class="app-productive-heading-02 mb-4">{{ place.name }}</div>

      <div class="flex items-center mb-2">
        <div>
          <div class="app-productive-heading-02">Cities</div>
          <div class="truncate app-body-short-01 mb-1">
            Lorem ipsum dolor sit amet
          </div>
          <div class="app-helper-text-01">122k followers</div>
        </div>
      </div>
    </div>
  </div>
</div>
