<div
  class="app-content app-content--default relative sticky top-0"
  ngClass.gt-md="-mt-20"
>
  <!-- Description container -->
  <div fxFlex="80%" fxFlex.gt-md="100%">
    <div ngClass.lt-md="ml-2" ngClass.md="ml-2" ngClass.gt-md="pt-4">
      <div class="app-body-short-01 mt-4 mb-4">
        <!-- Actions container -->
        <div fxLayout="row wrap" class="app-card-row-holder">
          <canvas #mapContainer class="event-layer" width="512" height="512"></canvas>

          <div class="map-container">
            <canvas #eventContainer class="event-layer" width="512" height="512"></canvas>
          </div>
        </div>

        <div fxLayout="row" class="app-card-row-holder">
          <ng-container *ngFor="let action of actions">
            <app-action-button
              [action]="action"
              (click)="clickOnAction(action)"
            ></app-action-button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
