<div class="app-a-box app-scrollbar-fix" *ngIf="place$ | async as place">
  <ng-scrollbar>
    <div fxLayout="row wrap ">
      <div fxFlex.gt-md="360px" fxFlex="100%">
        <app-place-info [place]="place"></app-place-info>
        <app-log></app-log>
      </div>
      <div fxFlex.gt-md="720px" fxFlex="100%">
        <app-scene></app-scene>
      </div>
      <div fxFlex.gt-md="" fxFlex="100%">
        <app-right-panel [places]="place.places"></app-right-panel>
      </div>
    </div>
  </ng-scrollbar>
</div>
