<ng-scrollbar track="vertical">
  <div fxLayout="row wrap ">
    <div fxFlex.gt-md="360px" fxFlex="100%">
      <app-personal-panel
        *ngIf="player$ | async as player"
        [player]="player"
      ></app-personal-panel>
      <app-log *ngIf="log$ | async as log" [log]="log"></app-log>
    </div>
    <div fxFlex.gt-sm="512px" fxFlex.gt-md="720px" fxFlex="100%">
      <app-minimap
        [actions]="actions$ | async"
        [npc]="npc$ | async"
        [items]="items$ | async"
        [place]="place$ | async"
      ></app-minimap>
    </div>
    <div fxFlex.gt-md="" fxFlex="100%">
      <app-scene *ngIf="sceneImg$ | async as img" [img]="img"></app-scene>
      <p>
        <app-place-info
          *ngIf="place$ | async as place"
          [place]="place"
          [reachablePlaces]="reachablePlaces$ | async"
        ></app-place-info>
      </p>
   

      <!--      <app-right-panel [places]="place.places"></app-right-panel>
-->
    </div>
  </div>
</ng-scrollbar>
