<div
  class="app-content app-content--default relative sticky top-0"
  ngClass.gt-md="-mt-20"
>
  <div fxLayout="row wrap">
    <!-- Image container -->
    <div fxFlex="30%" fxFlex.gt-md="100%">
      <div class="">
        <img
          class="w-full rounded-lg border-4 border-solid app-border-container"
          src="assets/img/background/wilderness/1.png"
        />
      </div>
    </div>
    <!-- Description container -->
    <div *ngIf="place$ | async as data">
      <div fxFlex="70%" fxFlex.gt-md="100%">
        <div ngClass.lt-md="ml-2" ngClass.md="ml-2" ngClass.gt-md="pt-4">
          <div>
            <div class="app-productive-heading-03 font-bold">
              <div>{{ data.name }}</div>
            </div>
          </div>
          <div class="app-body-short-01 mt-4 mb-4">
            {{ data.description }}
            <!-- Actions container -->

            <ng-container *ngFor="let action of data.actions">
              <div>
                <div
                  (click)="clickAction(action.id)"
                  class="app-card app-card--select"
                >
                  <div class="app-card__content__alt">
                    <div class="flex items-center">
                      <div class="mr-3">
                        <youpez-ibm-icon
                          iconName="folder"
                          iconSize="32"
                        ></youpez-ibm-icon>
                      </div>
                      <div>
                        <div class="app-expressive-heading-01">
                          {{ action.name }}
                        </div>
                        <div>
                          <span class="app-label-01 mr-2"
                            >{{ action.name }} files</span
                          >
                          <span class="app-label-01">{{ action.name }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
