<div class="app-content app-content--default sticky top-0">
  <div class="app-content app-content--default sticky top-0">
    <div class="app-card app-card--m-b mb-4">
      <div class="app-card__content">
        <div class="app-productive-heading-02 mb-4">{{ player.name }}</div>
        <!-- ACTIONS MENU -->

        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
        <!-- BODY PANEL -->

        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxLayout="col" *ngIf="player.bodyType?.leftPilon">
            <app-body-button
              [bodyPart]="player.bodyType.leftPilon"
              label="Left Pilon"
            ></app-body-button>
          </div>
          <div fxLayout="col" *ngIf="player.bodyType?.head">
            <app-body-button
              [bodyPart]="player.bodyType.head"
              label="Head"
            ></app-body-button>
          </div>
          <div fxLayout="col" *ngIf="player.bodyType?.rightPilon">
            <app-body-button
              [bodyPart]="player.bodyType.rightPilon"
              label="Right Pilon"
            ></app-body-button>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxLayout="col" *ngIf="player.bodyType?.leftArm">
            <app-body-button
              [bodyPart]="player.bodyType.leftArm"
              label="Left arm"
            ></app-body-button>
          </div>
          <div fxLayout="col" *ngIf="player.bodyType?.upperBody">
            <app-body-button
              [bodyPart]="player.bodyType.upperBody"
              label="Upper body"
            ></app-body-button>
          </div>
          <div fxLayout="col" *ngIf="player.bodyType?.rightArm">
            <app-body-button
              [bodyPart]="player.bodyType.rightArm"
              label="Right arm"
            ></app-body-button>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxLayout="col" *ngIf="player.bodyType?.leftLeg">
            <app-body-button
              [bodyPart]="player.bodyType.leftLeg"
              label="Left leg"
            ></app-body-button>
          </div>
          <div fxLayout="col" *ngIf="player.bodyType?.lowerBody">
            <app-body-button
              [bodyPart]="player.bodyType.lowerBody"
              label="Lower body"
            ></app-body-button>
          </div>
          <div fxLayout="col" *ngIf="player.bodyType?.rightLeg">
            <app-body-button
              [bodyPart]="player.bodyType.rightLeg"
              label="Right leg"
            ></app-body-button>
          </div>
        </div>
        <!-- IMAGE AREA -->

        <!-- IMAGE MAP -->
        <div fxLayout="row wrap ">
          <!-- STAT CONTAINER -->
          <ng-container *ngIf="player.stats as stat">
            <div class="str stat">
              <span class="stat__name">STR</span>
              <span class="stat__value"> {{ stat.STR }}</span>
            </div>
            <div class="str stat">
              <span class="stat__name">COS</span>
              <span class="stat__value"> {{ stat.COS }}</span>
            </div>
            <div class="int stat">
              <span class="stat__name">INT</span>
              <span class="stat__value"> {{ stat.INT }}</span>
            </div>
            <div class="dex stat">
              <span class="stat__name">DEX</span>
              <span class="stat__value"> {{ stat.DEX }}</span>
            </div>
            <div class="sag stat">
              <span class="stat__name">SAG</span>
              <span class="stat__value"> {{ stat.SAG }}</span>
            </div>
            <div class="lck stat">
              <span class="stat__name">LCK</span>
              <span class="stat__value"> {{ stat.LCK }}</span>
            </div>
            <div class="str stat">
              <span class="stat__name">STR</span>
              <span class="stat__value"> {{ stat.STR }}</span>
            </div>
          </ng-container>
        </div>
        <!-- HP MP ATP CONTAINER -->
        <div fxLayout="row wrap mb-6">
          <div class="bar-container">
            <div class="flex justify-between mb-1">
              <div class="app-productive-heading-01">HP</div>
            </div>
            <div class="app-progress app-progress--small">
              <div
                class="app-progress__bar app-bg-success"
                style="width: 11%"
              ></div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap mb-6">
          <div class="bar-container">
            <div class="flex justify-between mb-1">
              <div class="app-productive-heading-01">MP</div>
            </div>
            <div class="app-progress app-progress--small">
              <div
                class="app-progress__bar app-bg-success"
                style="width: 100%"
              ></div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap mb-6">
          <div class="bar-container">
            <div class="flex justify-between mb-1">
              <div class="app-productive-heading-01">ATP</div>
            </div>
            <div class="app-progress app-progress--small">
              <div
                class="app-progress__bar app-bg-success"
                style="width: 11%"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
